<% @songs.each do |song| %>
  <div class="song-container">

    <div class="song-info">
      <em><%= song.author %></em> -
      <a href="<%= song.url %>" target="_blank"><%= song.title %></a><br>
      <% if logged_in? %>
        <a href="/song/:id/show" class="reviews-link">View Reviews (<%= song.reviews.count %>)</a>
      <% else %>
        <a href="/users/create" class="reviews-link">Sign up</a> or <a href="/login" class="reviews-link">Login</a> to post comments!
      <% end %>
    </div>

    <div class="votes">
      <a href="/songs/<%= song.id %>/upvote">
        <i class="fa fa-angle-up"></i>
      </a><br>
      <p class="vote-count">
        <%= song.vote_count %>
      </p>
      <a href="/songs/<%= song.id %>/downvote">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>

  </div>
<% end %>