
<p class="review-song-title">
  <em><%= @song.author %></em>
   - <a href="<%= @song.url %>" target="_blank"><%= @song.title %></a>
</p>

<form action="/songs/<%= @song.id %>/reviews" method="post" class="review-form">
  <textarea type="text" name="content" placeholder="Review this song"></textarea><br>
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Review!">
</form>

<% if @reviews.count < 1 %>
  No reviews for this song yet!
<% else %>
  <%  @reviews.each do |review| %>
    <div class="review-container">
      <span class="review-user"><%= review.user.name %>:</span>
      <% if review.user == current_user %>
        <a href="/songs/<%= review.song.id %>/reviews/<%= review.id %>/delete" class="review-delete">X</a>
      <% end %>
      <%= review.rating %>
      <p class="review-content"><%= review.content %></p>
    </div>
  <% end %>
<% end %>